/* Hide shorts on video page ( <ytd-reel-shelf-renderer> ) */

ytd-reel-shelf-renderer {
  display: none !important;
}

/* Hide tags bar on video page ( <yt-related-chip-cloud-renderer> ) */

yt-related-chip-cloud-renderer {
  display: none !important;
}

/* Make 3 dots on comment and videos only visible when hovering over it ( <ytd-comment-thread-renderer>, <ytd-rich-item-renderer>, <ytd-compact-video-renderer> ) */

ytd-comment-thread-renderer ytd-menu-renderer,
ytd-rich-item-renderer ytd-menu-renderer,
ytd-compact-video-renderer ytd-menu-renderer {
  opacity: 0;
}

ytd-comment-thread-renderer:hover ytd-menu-renderer,
ytd-rich-item-renderer:hover ytd-menu-renderer,
ytd-compact-video-renderer:hover ytd-menu-renderer {
  opacity: 1;
}

/* Hide "Download" button ( <ytd-download-button-renderer> ) */

ytd-download-button-renderer {
  display: none !important;
}
