/* Hide drawer when it's in mini mode ( <ytd-mini-guide-renderer mini-quide-visible> ) */

ytd-mini-guide-renderer {
  display: none !important;
}

ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
  margin-left: 0 !important;
}

/* Hide Sponsor info in mini-player ( <div class="ytInlinePlayerControlsTopLeftControls"> ) */

.ytInlinePlayerControlsTopLeftControls {
  display: none !important;
}

/* Hide voice search button ( <div id="voice-search-button"> ) */

#voice-search-button {
  display: none !important;
}

/* Hide "Create" button ( <ytd-button-renderer> inside <div id="buttons"> ) */

#buttons ytd-button-renderer {
  display: none !important;
}
